<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljz.goods.persistence.GoodsBaseinfoMapper" >
  <resultMap id="BaseResultMap" type="com.ljz.goods.domain.GoodsBaseinfo" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="UUID" property="uuid" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="FILE_CD" property="fileCd" jdbcType="VARCHAR" />
  </resultMap>
</mapper>